/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
    background-color: #6DB1D5;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
/*  // max-width: 480px;
  //max-height: 800px;*/
}


#msghead {
  float: left;
  padding-left: 2%;
}

#msgheadme {
  float: right;
  padding-right: 2%;
}

#chatother {
  text-align: left;
  padding-left: 15%;
  padding-top: 2%;
}

#chatme {
  text-align: right;
  padding-right: 15%;
  padding-top: 2%;
}

.chat {
  padding: 10px;
  min-height: 100px;
}


#msg-buttons {
  background-color: white;
  padding: 1%;
}

#msg-buttom #newmsg {
  position: relative;
}

.chat-buttons {
  width: 20%;
  height: 30px;

}

.chat-buttons img {
  height: 30px;
}

#schedule-form {
  background-color: #06364a;
  border-radius: 10px;
  position: absolute;
  width: 90%;
  left: 5%;
}

#exit {
  float: right;
  padding: 5px;
}

h5 {
  padding: 10px;
  font-size: 24px;
}

h6 {
  padding: 2%;
  font-size: 20px;
  text-align: left;
  border-radius: 20px;
  padding-right: 2%;
  
}

.addmyfriend {
  height: 8%;
}

.game-form {
  border-radius: 15px;
  padding-left: 15%;
  text-align: left;
}

#request {
  background-color: green;
  padding: 15px;
  border-radius: 10px;
}


#forms {
  padding: 10px;
}

#level{
  float:right;
  width:100px;
  height:100px;
}

#doneit {
  float:right;
  margin-right:10%; 
}

#editit {
  margin-top: 10%;
}

#GID {
  float:right;
}

label {
  float:left;
}
#plus {
  text-align: center;
}

#signup {
  float:left;
}

#ppic {
  float:left;
  border:4px solid white;
  width:75px;
  height:75px;
  padding-bottom: 5px;
}

a:link              {color: white}
a:visited           {color: white}
a:active            {color: white}

.modalDialog { 
  position: fixed; 
  font-family: Arial, Helvetica, sans-serif; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  background: rgba(0,0,0,0.8); 
  z-index: 99999; 
  -webkit-transition: opacity 400ms ease-in;
   -moz-transition: opacity 400ms ease-in; 
   transition: opacity 400ms ease-in; 
   display: none; 
   pointer-events: none; 
 }

.modalDialog:target { 
  display: block; 
  pointer-events: auto; 
} 


.modalDialog > div { 
  width: 400px; 
  position: relative; 
  margin: 10% auto; 
  padding: 5px 20px 13px 20px; 
  border-radius: 10px; 
  background: #06364A; 
  background: -moz-linear(#06364A #999); 
  background: -webkit-linear(#06364A, #999);
  background: -o-linear-(#06364A, #999); 
}

.close { 
  background: #606061; 
  color: #FFFFFF; 
  line-height: 25px; 
  position: absolute; 
  right: -12px; 
  text-align: center; 
  top: -10px; 
  width: 24px; 
  text-decoration: none; 
  font-weight: bold; 
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
  -moz-box-shadow: 1px 1px 3px #000; 
  -webkit-box-shadow: 1px 1px 3px #000; 
  box-shadow: 1px 1px 3px #000; 
} 

#buttonyes {
  background-image: #606061;
}

  .close:hover { 
    background: #00d9ff; 
}

  float:left;
  border:4px solid white;
  width:50px;
  height:50px;
  padding: 10px;
}

#games {
  text-align: left;
  padding: 20px;
}

.form-control {
  border-radius: 50px;
}


#textBox {
  border-radius: 0px;
}

#navwrapper {
  height: 50px%;
}
#navigator {
  height:50px;
}

div {
  text-align: center;
}

#dividerspan {
 background-color: #6DB1D5; 
 position: relative; 
 top: -0.5em;
}

#divider {
  margin: 20px;
  height: 2px; 
  background-color: white; 
  text-align: center
}
#form {
  color:black;
  float:left;
}

form {
  margin: 0 auto;
  width: 100%;
}

#dob{
  width:30%;
}

#supbutt {
 float: right;
 padding:10px;
}

#gps {
  text-align: left;
}
#date {
  text-align: left;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 5px;
}

h3 {
	text-align: left;
}

 .gamen, #frname {
  float:left;
  padding:0px;
}

#profilepic {
  float:left;
  height: 70px;
}

#schat {
  float: right;
  position:relative;
}

.bottom-menu {
  width:100%;
  position: fixed;
  bottom: 0px;  

	background-color: #06364A;
}

.bottomchat {
  position: fixed;
  bottom: 50px;
  padding: 0px;
}
.input-group {
	padding-top: 25px;
	margin-left: 15%;
	width: 70%;
}

.profilePic {
	float: left;
}

.profileDetails {
	padding-top: 20px;
}

.editButton{
	padding-top: 20px;
	padding-right: 20px;
	float: right;
}

.addGame {
	text-align: center;
	top: 655px;
	width: 100%;	
}

.heading {
	padding: 20px;
}

.gameSection {
	padding: 10px;
	padding-top: 30px;
}

.game {
  border-radius: 25px;
  border: 2px solid white;
  padding: 30px; 
  width: 100%;
  height: 120px; 
  text-align: center;
}

.modal-content {
  background-color: #06364A;
}

.container {
  padding: 3%;
}

.col-xs-12 {
  padding: 3%;
}

#iphonebutton {
  float: right;
}

.wrapper {
  float:right;
  padding: 10px;
}

input#toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

input#toggle + label {
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 30px;
  width: 50px;
  border-radius: 15px;
}

input#toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input#toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input#toggle:checked + label:before {
  width: 50px;
  background: rgba(19, 191, 17, 1);
}

input#toggle:checked + label:after {
  left: 20px;
  box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
}

input#toggle2 {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

input#toggle2 + label {
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 30px;
  width: 50px;
  border-radius: 15px;
}

input#toggle2 + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input#toggle2 + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input#toggle2:checked + label:before {
  width: 50px;
  background: rgba(19, 191, 17, 1);
}

input#toggle2:checked + label:after {
  left: 20px;
  box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
}

input#toggle3 {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

input#toggle3 + label {
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 30px;
  width: 50px;
  border-radius: 15px;
}

input#toggle3 + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input#toggle3 + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input#toggle3:checked + label:before {
  width: 50px;
  background: rgba(19, 191, 17, 1);
}

input#toggle3:checked + label:after {
  left: 20px;
  box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
}

input#toggle4 {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

input#toggle4 + label {
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 30px;
  width: 50px;
  border-radius: 15px;
}

input#toggle4 + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input#toggle4 + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input#toggle4:checked + label:before {
  width: 50px;
  background: rgba(19, 191, 17, 1);
}

input#toggle4:checked + label:after {
  left: 20px;
  box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
}

#result{
  color:black;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: 78%;
  border-radius: 2px;
}

.setting {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#options {
  text-align: center;
}

.col-xs-12 {
  border-bottom: 1px solid #FFFFFF;
  text-align: left;
}

li {
  padding-top: 3px;
    list-style-type: none;
    background-color: #06364A;
    color: #FFFFFF;
}

i {
  font-size: 1.5em;
  float:right;
  color: #FFFFFF;
  padding-right: 5px;
}


#popup {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border:1px;
  border-color: #06364A;
  border-radius: 20px;
  border-style: solid;
  background-color: #06364A;
  height: 50%;
}

#normaltext {
  color:black;
  width:50%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom:5%;
  text-decoration: none;
  border-radius: 20px;
}

#popupbutt {
  margin-bottom: 10%;
}

#ppclose {
  float:right;
  padding: 5px;
}

/* ============================================================
 All the Toggle css, DO NOT TOUCH!!!
  COMMON
============================================================ */
#wrapper {
  min-width: 600px;
}


.settings {
  display: table;
  margin-left: 20%;
  width: 10%;
}
/*fix width settings*/

.settings .row {
  display: table-row;
}
.settings .question,
.settings .switch {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.modalbody {
  padding: 10;
}


/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #dddddd;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  background-color: #8ce196;
}







